<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_bench_nodes">

	<xacro:property name="HandSensorNode" value="_arm/forearm_sensors"/>
    <xacro:property name="testbench_node" value="/right_arm/j5" />
    <xacro:property name="IndexFingerNode" value="_arm/hand/index" />
    <xacro:property name="MiddleFingerNode" value="_arm/hand/middle" />
    <xacro:property name="PinkyFingerNode" value="_arm/hand/pinky" />
    <xacro:property name="ThumbProximalNode" value="_arm/hand/thumb_proximal" />
    <xacro:property name="ThumbDistalNode" value="_arm/hand/thumb_distal" />
    <xacro:property name="ThumbRollNode" value="_arm/hand/thumb_roll" />
    <xacro:property name="WristLeftActuatorNode" value="_arm/wrist/left_actuator" />
    <xacro:property name="WristRightActuatorNode" value="_arm/wrist/right_actuator" />

</robot>
