<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waist_angled_j1s_frame_parameters">

  <xacro:include filename="joint_axes.xacro"/>
  <xacro:include filename="joint_axes.xacro"/>
  <xacro:include filename="link_names.xacro"/>
  <xacro:include filename="joint_limits.xacro"/>
  <xacro:include filename="angled_j1s_frame_parameters.xacro"/>
  <xacro:include filename="angled_j1s_mass_parameters.xacro"/>

  <xacro:include filename="../../../../../common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="../../../../../common/xacro/actuator_names/valkyrie_actuator_names.xacro"/>
  <xacro:include filename="../../../../../model/robots/common/xacro/sensors/microstrain.xacro"/>
  <xacro:include filename="../../../../../model/robots/common/xacro/sensors/flea.xacro"/>

  <xacro:include filename="waist.xacro"/> 
</robot>
