<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="firmware">

    <xacro:include filename="../../../../../instance/instances/robots/xacro/firmware/arm_firmware.xacro" />
    <xacro:include filename="../../../../../instance/instances/robots/xacro/firmware/forearm_firmware.xacro" />
    <xacro:include filename="../../../../../instance/instances/robots/xacro/firmware/leg_firmware.xacro" />
    <xacro:include filename="../../../../../instance/instances/robots/xacro/firmware/trunk_firmware.xacro" />
    <xacro:macro name="firmware" params="">
<!--
    There is a bug in xacro that is causing it not to resolve global-scope properties unless I add a 
    local property here. The name of the property apparently doesn't matter.
-->
        <xacro:property name="foo" value="bar" />

        <Firmware type="firmware">
            <xacro:arm_firmware />
            <xacro:forearm_firmware />
            <xacro:leg_firmware />
            <xacro:trunk_firmware />
        </Firmware>
    </xacro:macro>
</robot>
