<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="valkyrie">
    <!-- Create Pelvis -->
    <xacro:make_pelvis />
    <xacro:v1_pelvis_rear_sensors_usb sensor_node_tag="${pelvis_rear_imu_node}" sensor_api_tag="${ImuMicrostrainHardwareApi}"  sensor_port_tag="${pelvis_rear_imu_port}"/>
    <xacro:include_zedm_hw />
    <!-- Create Waist -->
    <xacro:make_waist waist_root_link="${Pelvis_Link_Name}" />
    <xacro:waist_transmissions_hw />
    <xacro:v1_trunk_sensors_usb sensor_node_tag="${torso_left_imu_node}" sensor_api_tag="${ImuMicrostrainHardwareApi}" sensor_port_tag="${torso_left_imu_port}"/>
    <!-- Create Head Leg -->
    <xacro:if value="${use_head}">
        <xacro:make_head head_root_link="torso" />
        <xacro:include_multisense_hw />
        <xacro:neck_transmissions_hw />
    </xacro:if>
    <!-- Create Right Leg -->
    <xacro:if value="${use_right_leg}">
        <xacro:make_leg prefix="right" reflect="-1" leg_root_link="${Pelvis_Link_Name}"/>
        <xacro:v1_leg_sensors prefix="right" reflect="-1" ATI_serial_number="${right_foot_ATI_serial}" ATI_node="${right_foot_ATI_node}"/>
        <xacro:leg_transmissions_hw prefix="right"/>
    </xacro:if>
    <!-- Create Left Leg -->
    <xacro:if value="${use_left_leg}">
        <xacro:make_leg prefix="left" reflect="1" leg_root_link="${Pelvis_Link_Name}"/>
        <xacro:v1_leg_sensors prefix="left" reflect="1" ATI_serial_number="${left_foot_ATI_serial}" ATI_node="${left_foot_ATI_node}"/>
        <xacro:leg_transmissions_hw prefix="left"/>
    </xacro:if>
    <!-- Create Right Arm -->
    <xacro:if value="${use_right_arm}">
        <xacro:make_arm prefix="right" reflect="-1" arm_root_link="torso" />
        <xacro:arm_transmissions_hw prefix="right" reflect="-1"/>
        <!-- Create Right Hand -->
        <!-- <xacro:if value="${use_right_hand}"> -->
        <xacro:if value="${use_right_hand}">
            <xacro:make_thumb prefix="right" reflect="-1" thumb_root_link="rightPalm"/>
            <xacro:make_index_finger prefix="right" reflect="-1" index_finger_root_link="rightPalm"/>
            <xacro:make_middle_finger prefix="right" reflect="-1" middle_finger_root_link="rightPalm"/>
            <xacro:make_pinky_finger prefix="right" reflect="-1" pinky_finger_root_link="rightPalm"/>
            <xacro:index_finger_transmissions_hw prefix="right" reflect="-1"/>
            <xacro:middle_finger_transmissions_hw prefix="right" reflect="-1"/>
            <xacro:pinky_finger_transmissions_hw prefix="right" reflect="-1"/>
            <xacro:thumb_transmissions_hw prefix="right" reflect="-1"/>
        </xacro:if>
    </xacro:if>

    <!-- Create Left Arm -->
    <xacro:if value="${use_left_arm}">
        <xacro:make_arm prefix="left" reflect="1" arm_root_link="torso" />
        <xacro:arm_transmissions_hw prefix="left" reflect="1"/>
        <!-- Create Left Hand -->
        <xacro:if value="${use_left_hand}">
            <xacro:make_thumb prefix="left" reflect="1" thumb_root_link="leftPalm"/>
            <xacro:make_index_finger prefix="left" reflect="1" index_finger_root_link="leftPalm"/>
            <xacro:make_middle_finger prefix="left" reflect="1" middle_finger_root_link="leftPalm"/>
            <xacro:make_pinky_finger prefix="left" reflect="1" pinky_finger_root_link="leftPalm"/>
            <xacro:index_finger_transmissions_hw prefix="left" reflect="1" />
            <xacro:middle_finger_transmissions_hw prefix="left" reflect="1"/>
            <xacro:pinky_finger_transmissions_hw prefix="left" reflect="1"/>
            <xacro:thumb_transmissions_hw prefix="left" reflect="1"/>
        </xacro:if>
    </xacro:if>



</robot>
