<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ValkyrieA">
    <xacro:property name="robot_type_suffix" value=""/>
    <xacro:include filename="./valkyrie_generic.xacro"/>
    <xacro:valkyrie_generic suffix="A"/>

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>valkyrie_A</robotNamespace>
      </plugin>
    </gazebo>
</robot>
