<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="valkyrie">
	<xacro:property name="robot_type_suffix" value="_sim"/>
	<xacro:property name="arm_mass_sims" default="true"/>
    <xacro:include filename="./valkyrie_generic.xacro"/>
    <xacro:valkyrie_generic suffix="C"/>
</robot>
