<?xml version="1.0" ?>
<robot name="valkyrie_firmware_locations" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="fpga_c0n1" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/turbo_fpga/V1/V1_turbodriver_1.1.0_v1.1.0-2-g4959c37_c0n1.sbf.gz" />
    <xacro:property name="fpga_c0n2" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/turbo_fpga/V1/V1_turbodriver_1.1.0_v1.1.0-2-g4959c37_c0n2.sbf.gz" />
    <xacro:property name="fpga_c0n3" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/turbo_fpga/V1/V1_turbodriver_1.1.0_v1.1.0-2-g4959c37_c0n3.sbf.gz" />
    <xacro:property name="fpga_c0n4" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/turbo_fpga/V1/V1_turbodriver_1.1.0_v1.1.0-2-g4959c37_c0n4.sbf.gz" />
    <xacro:property name="fpga_c0n5" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/turbo_fpga/V1/V1_turbodriver_1.1.0_v1.1.0-2-g4959c37_c0n5.sbf.gz" />
    <xacro:property name="fpga_c0n6" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/turbo_fpga/V1/V1_turbodriver_1.1.0_v1.1.0-2-g4959c37_c0n6.sbf.gz" />

    <xacro:property name="proc_rotary" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/sea_proc/turbodriver/turbo_bootloader_1.1.6_g1fd141f0_rotary.bin" />
    <xacro:property name="proc_linear" value="https://artifacts.jsc.nasa.gov/artifactory/val-embedded/sea_proc/turbodriver/turbo_bootloader_1.1.6_g1fd141f0_linear.bin" />

    <!-- Base URL Structure -->
    <xacro:macro name="firmware_base_url" >
        <TurbodriverFirmware>
            <Firmware node_id="/trunk/left_arm_j1" fpga_fw="${fpga_c0n1}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/trunk/left_actuator" fpga_fw="${fpga_c0n2}" proc_fw="${proc_linear}" />
            <Firmware node_id="/trunk/right_actuator" fpga_fw="${fpga_c0n3}" proc_fw="${proc_linear}" />
            <Firmware node_id="/trunk/right_arm_j1" fpga_fw="${fpga_c0n4}" proc_fw="${proc_rotary}" />

            <Firmware node_id="/pelvis/waist" fpga_fw="${fpga_c0n1}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/pelvis/left_leg_j1" fpga_fw="${fpga_c0n3}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/pelvis/right_leg_j1" fpga_fw="${fpga_c0n5}" proc_fw="${proc_rotary}" />

            <Firmware node_id="/left_arm/j2" fpga_fw="${fpga_c0n2}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/left_arm/j3" fpga_fw="${fpga_c0n3}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/left_arm/j4" fpga_fw="${fpga_c0n4}" proc_fw="${proc_rotary}" />

            <Firmware node_id="/right_arm/j2" fpga_fw="${fpga_c0n2}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/right_arm/j3" fpga_fw="${fpga_c0n3}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/right_arm/j4" fpga_fw="${fpga_c0n4}" proc_fw="${proc_rotary}" />

            <Firmware node_id="/right_leg/j2" fpga_fw="${fpga_c0n2}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/right_leg/j3" fpga_fw="${fpga_c0n3}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/right_leg/j4" fpga_fw="${fpga_c0n4}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/right_leg/ankle/right_actuator" fpga_fw="${fpga_c0n5}" proc_fw="${proc_linear}" />
            <Firmware node_id="/right_leg/ankle/left_actuator" fpga_fw="${fpga_c0n6}" proc_fw="${proc_linear}" />

            <Firmware node_id="/left_leg/j2" fpga_fw="${fpga_c0n2}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/left_leg/j3" fpga_fw="${fpga_c0n3}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/left_leg/j4" fpga_fw="${fpga_c0n4}" proc_fw="${proc_rotary}" />
            <Firmware node_id="/left_leg/ankle/right_actuator" fpga_fw="${fpga_c0n5}" proc_fw="${proc_linear}" />
            <Firmware node_id="/left_leg/ankle/left_actuator" fpga_fw="${fpga_c0n6}" proc_fw="${proc_linear}" />
        </TurbodriverFirmware>
    </xacro:macro>

</robot>
